<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Received Order</title>
    <link rel="stylesheet"
          th:href="@{/styles.css}"></link>
  </head>
  
  <body>
	<h2>Kitchen order <span th:text="${order.orderId}"></span></h2>
	<p>Status: <span th:text="${order.status}"></span></p>
	<p th:if="${order.stationId}">Station: <span th:text="${order.stationId}"></span></p>
	
	<h3>Tacos:</h3>
	<div th:each="item : ${order.items}">
	  <b th:text="${item.tacoName}">TACO NAME</b>
	  <span th:text="${' x' + item.quantity}"></span><br/>
	  <ul>
	    <li th:each="ingredient : ${item.ingredients}">
	      <span th:text="${ingredient}">INGREDIENT</span>
	  	</li>
	  </ul>
	</div>
	
	<p>Click the browser refresh to pull the next order.</p>
  </body>
</html>
