<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
  <head>
    <title>Taco Cloud</title>
  </head>
  
  <body>
    <section layout:fragment="main" class="content">
      <h1>Register</h1>
      
      <form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">
      
          <label for="username">Username: </label>
          <input type="text" th:field="*{username}"/>
          <span th:errors="*{username}"></span>
          <br/>

          <label for="email">Email: </label>
          <input type="email" th:field="*{email}"/>
          <span th:errors="*{email}"></span>
          <br/>
  
          <label for="password">Password: </label>
          <input type="password" th:field="*{password}"/>
          <span th:errors="*{password}"></span>
          <br/>
  
          <label for="confirm">Confirm password: </label>
          <input type="password" th:field="*{confirm}"/>
          <span th:errors="*{passwordConfirmed}"></span>
          <br/>
  
          <label for="fullname">Full name: </label>
          <input type="text" th:field="*{fullname}"/>
      
          <label for="street">Street: </label>
          <input type="text" th:field="*{street}"/><br/>
      
          <label for="city">City: </label>
          <input type="text" th:field="*{city}"/><br/>
      
          <label for="state">State: </label>
          <input type="text" th:field="*{state}"/><br/>
      
          <label for="zip">Zip: </label>
          <input type="text" th:field="*{zip}"/><br/>
      
          <label for="phone">Phone: </label>
          <input type="text" th:field="*{phone}"/><br/>
      
          <input type="submit" value="Register"/>
      </form>
    </section>
  </body>
</html>