<cloud-title>Sign in to Taco Cloud</cloud-title>

<p style="font-weight: bold; color: red;">
  Sign in is not implemented in this UI yet.
</p>

<group-box title="Sign in">
  <form>
    <label for="username"><b>Username:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Password:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <big-button label="Sign in"></big-button>
  </form>
</group-box>

<group-box title="Register">
  <a [routerLink]="['/register']">Create an account</a>
</group-box>
